<div class="row">
    <!-- Lado izquierdo
    <div class="col-md-4 mt-2">
    </div>
     -->
    <!-- Lado derecho -->
    <div class="col-md-12 mt-2">
        <div class="accordion mb-2" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseOne">
                        Tipo de Justificante
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Zorro Marihuano
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>