<div class="row">
    <!-- Lado izquierdo
    <div class="col-md-4 mt-2">
    </div>
     -->
    <!-- Lado derecho -->
    <div class="col-md-12 mt-2">
        <div class="accordion mb-2" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseOne">
                        Solitudes de Justificantes
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                    <div class="accordion-body overflow-x-auto">


                        <table class="table table-responsive table-bordered" *ngIf="justificantes.length > 0">
                            <thead>
                                <tr class="justify-content-center">
                                    <th>#</th>
                                    <th>Numero de Control</th>
                                    <th>Nombre</th>
                                    <th>Especialidad</th>
                                    <th>Grado</th>
                                    <th>Turno</th>
                                    <th>Tipo</th>
                                    <th>Ver Dctos.</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let solicitud of justificantes; index as i">
                                    <td class="text-center"><img [src]="solicitud.foto" alt="" width="50"></td>
                                    <td>{{solicitud.numControl}}</td>
                                    <td>{{solicitud.nombre}} {{solicitud.apellidoP}} {{solicitud.apellidoM}}</td>
                                    <td>{{solicitud.especialidad}}</td>
                                    <td>{{solicitud.gado}}{{solicitud.grupo}}</td>
                                    <td>{{solicitud.turno}}</td>
                                    <td>{{solicitud.tipo}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#versolicitud"
                                            (click)="revisarDocumentos(solicitud.numControl)">
                                            <span class="badge text-bg-info">
                                                <i class="bi bi-eye"></i>
                                            </span>
                                        </button>
                                    </td>
                                    <td><button class="btn btn-sm btn-danger">Acciones</button></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="versolicitud" tabindex="-1" aria-labelledby="versolicitudLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="versolicitudLabel">
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header text-center">
                        <p class="fs-4 fw-lighter">Solicitud de Alumno
                            <b> {{alumno.nombre}}{{alumno.apellidoP}}{{alumno.apellidoM}} </b> con fecha de solicitud : {{alumno.fecha}} </p>

                    </div>
                    <div class="card-body">

                        <div class="row">
                            <!-- Lado Izquierdo -->
                            <div class="col-md-4 text-center">
                                <img [src]="alumno.foto" class="img-fluid" width="200" alt="image desc">
                            </div>
                            <!-- lado derecho -->
                            <div class="col-md-8">
                                <!-- rol -->
                                <div class="input-group mb-3 px-3 mt-2">
                                    <span class="input-group-text" id="basic-addon1">Numero de control</span>
                                    <input [(ngModel)]="alumno.numControl" type="text" class="form-control"
                                        placeholder="Tipo de alumno" aria-label="Tipo de alumno"
                                        aria-describedby="basic-addon1">
                                </div>
                                <!--Nombre-->
                                <div class=" mb-3 px-3 mt-2">
                                    <label class="form-label" id="Nombre">Motivo</label>
                                    <textarea [(ngModel)]="alumno.motivo" type="text" class="form-control"
                                        rows="5"></textarea>
                                </div>

                            </div>
                        </div>
                        <div class="text-success"><hr class="border border-2 opacity-50"></div>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="card">
                                    <div class="card-header">
                                        <p class="fs-6 fw-lighter">INE padre o tutor</p>
                                    </div>
                                  <div class="card-body">
                                   <img [src]="alumno.inetutor" class="img-fluid">
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="card">
                                    <div class="card-header">
                                        <p class="fs-6 fw-lighter">Documento de referencia</p>
                                    </div>
                                  <div class="card-body">
                                   <img [src]="alumno.documentoreferencia" class="img-fluid">
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="card">
                                    <div class="card-header">
                                        <p class="fs-6 fw-lighter">Carta padre, madre o tutor</p>
                                    </div>
                                  <div class="card-body">
                                   <img [src]="alumno.cartatutor" class="img-fluid">
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-success"><hr class="border border-2 opacity-50"></div>
                        <div class="row">
                            <div class="col-md-4">
                               <p class="fs-6 fw-lighter"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Rechazar</button>
                <button type="button" class="btn btn-primary">Autorizar</button>
            </div>
        </div>
    </div>
</div>