<div>
  <div>
    <!--Línea de arriba-->
    <div>
      <h1 class="border  border-1 bg-secondary m-5 mb-2"></h1>
    </div>
    <!--texto clave perdida-->
    <div>
      <h2 class="display-4 text-center fw-light text-success">Olvidé Mi Contraseña</h2>
    </div>

    <!--Indicaciones-->
    <div class="d-flex justify-content-center" >
      <h6 class="card border border-white text-center text-secondary" style="width: 28rem;">Escribe tu direccion correo con el cual te registraste en la plataforma y en seguida te enviaremos un mail con los pasos indicados para poder recordar tu clave</h6>
    </div>

    <!--Correo y Input-->
    <div class="d-flex justify-content-center ms-2 mt-3">
      <div class="card border border-white" style="width:28rem;">
        <div>
          <h2 class=" fw-light text-success">Correo</h2>
        </div>
        <div class="form-floating mb-3">
          <input type="email" [(ngModel)]="correo.correo" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="mb-5">
          <button class="btn btn-outline-secondary"  (click)="enviar()">Comprobar</button>
        </div>
      </div>
    </div>
    <div>
      <h1 class="border  border-1 bg-secondary me-5 ms-5 "></h1>
    </div>

  </div>
</div>
