    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <div class="ps-5 d-flex border border-3 border-success">
            <div>
              <div class="">
                <h3 class="justify-content-center">Recuperacion de contraseña</h3>
              <div>
              <div class="d-flex ms-5">
                <input [(ngModel)]="correo.correo" type="text" class="ms-5" placeholder="Ingresa tu correo">
              </div>
              <div class=""></div>
              <div class="ms-5">
                <button class="ms-5" (click)="enviar()">Comprobar</button>
              </div>
            
                
              </div>
            </div>
          </div>
        </div>
      </div>