.bg-Red{
 background-color: #450b19;
}


.color-sigedoes {
  color: #450b19;
}

.singup-2 {
  color: #450b19;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  font-weight: bold;
  font-size: x-large;
  margin-top: 1.5em;
}
.card-body {
  background-color: #450b19;
}

.fg{
  background-color: #d8cbb8;
}

.border-none{
  border: none;
}

.card-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  flex-direction: column;
  gap: 35px;
  border-radius: 15px;
  background-color: #d8cbb8;
  box-shadow: 2px 2px 18px #450b44, -6px -6px 18px #d8cbb8;
  border-radius: 70px;
}

.inputBox-1,
.inputBox-2,
.inputBox-3
{
  position: relative;
  width: 100%;
}

.inputBox-1 input,
.inputBox-2 input,
.inputBox-3 input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #450b19;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #450b19;
  border-bottom: 2px solid #450b19;
  transition: 0.1s;
  border-bottom-left-radius: 8px;
}

.inputBox-1 span,
.inputBox-2 span,
.inputBox-3 span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-4px);
  margin-left: 10px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #450b19;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 3px;
  border-radius: 8px;
}

@media  (min-width: 500px) {
  .inputBox-1 input:valid ~ span,
  .inputBox-1 input:focus ~ span {
    transform: translateX(280%) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #450b19;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
}
@media  (min-width: 500px) {
.inputBox-2 input:valid ~ span,
.inputBox-2 input:focus ~ span {
  transform: translateX(285.5%) translateY(-15px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #450b19;
  letter-spacing: 0.2em;
  color: #fff;
  border: 2px;
}
}
@media  (min-width: 500px) {
  .inputBox-3 input:valid ~ span,
  .inputBox-3 input:focus ~ span {
    transform: translateX(205%) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #450b19;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
  }
  }

.inputBox-1 input:valid,
.inputBox-1 input:focus,
.inputBox-2 input:valid,
.inputBox-2 input:focus,
.inputBox-3 input:valid,
.inputBox-3 input:focus {
  border-bottom: 2px solid #450b19;
  border-left: 2px solid #450b19;

}
.className {
  /* Your CSS styles here */
  border: 2px solid #450b19;
  border-radius: 8px;
}

.enter-2 {
  height: 45px;
  width: 110px;
  border-radius: 5px;
  border: 2px solid #450b19;
  cursor: pointer;
  background-color: transparent;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
}

.enter-2:hover {
  background-color: rgb(45, 0, 0);
  color: white;
}
.generalizador {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  /* grid-auto-rows: 100px; */
}
