<div class="row justify-content-center pt-5 p-5">
  <div class="col-lg-5 pb-4">
    <div class="row d-flex">
      <div class="col-12 d-flex">
        <h5><i class="fa-solid fa-right-to-bracket"></i></h5>
        <h5 class="px-2">{{titulo}}</h5>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="fw-light">Si no has realizado tu registro presiona el botón "Registrarse".</h5>
      </div>
      <div class="card-body">
        <div class="form-floating form-control-user mb-3">
          <input [(ngModel)]="usuario.nombre" type="email" class="form-control" id="floatingInput"
            placeholder="name@example.com">
          <label for="floatingInput">Acceso : Email address</label>
        </div>
        <div class="form-floating">
          <input [(ngModel)]="usuario.pass" type="password" class="form-control" id="floatingPassword"
            placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="pt-3">
          <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button" (click)="Acceso()">
              <i class="fa-solid fa-right-to-bracket px-3"></i>
              Acceso
            </button>
            <a class="small px-3" href="register.html">Create an Account!</a>
          </div>
          <div class="text-center">
            <a class="small" href="forgot-password.html">Forgot Password?</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="row d-flex">
      <div class="col-12 d-flex">
        <h5><i class="fa-solid fa-pencil"></i></h5>
        <h5 class="px-2">Registro</h5>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="fw-light">Si no has realizado tu registro presiona el botón "Registrarse".</h5>
      </div>
      <div class="card-body">
        <div class="bg-white bg-gradient align-baseline d-flex justify-content-center">
          <button type="button" class="btn btn-success btn-3g">
            Registrarse
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
