 
  <div class="row">
      <div class="col text-center color-sigedoes">
          <p class="fw-light fs-5">{{proyecto}}</p>
      </div>
  </div>
  <div class="row d-flex justify-content-center pt-0 pb-0">
      <div class="col-lg-10">
          <div class="card shadow-lg border-success ">
              <div class="card-body text-bg-success ">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="card-2 px-4 ">
                              <div class="">
                                   <i class="bi bi-person-circle fs-1 color-sigedoes"></i> 
                              </div>
                              <div class="inputBox-2 ">
                                  <input [(ngModel)]="usuario.nombre" type="text" required="required">
                                  <span> Usuario </span>
                              </div>
                              <div class="inputBox-3 ">
                                  <input [(ngModel)]="usuario.pass" type="password" required="required">
                                  <span>Contraseña</span>
                              </div>
                              <div class=" text-center">
                                  <div class="d-flex justify-content-center">
                                      <button class="enter-2" (click)="Acceso()">Ingresar</button>
                                      <button class="enter-2 ms-2" (click)="registrarse()">Registrarse</button>
                                  </div>
                                  <div class="pt-3">
                                      <div class="row d-flex justify-content-center">
                                          <div class="col-4 d-none d-lg-block">
                                              <img class="img-fluid" src="{{forgotimg}}" alt="" width="90px">
                                          </div>
                                          <div class="col-lg-8 col-sm-12 mt-4">
                                              <a class="link-success link-offset-1 link-opacity-50-hover" (click)="forgotPassword()">
                                                  ¿Olvidó su contraseña?
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              
                          </div>
                      </div>
                      <div class="col-lg-6 d-none d-lg-block d-flex justify-content-center">
                          <div class="d-flex justify-content-center">
                              <img src="{{logoCbtis}}" alt="" width="500px">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>