<div class="card border border-white mt-4">
  <div class="container">
    <div class="d-flex justify-content-center mt-4">
      <div class="card border border-white px-3">
        <div class="text-success">
          <p class="text-center fw-light fs-4">
            Bienvenido al {{proyecto}}
          </p>
          <p class="text-center fw-light fs-5">Alumna (o) : {{ datos.nombreCompleto }}</p>
        </div>
      </div>
    </div>

    <div class="row">
      <!--Lado Izquierdo-->
      <div class="col-lg-6 mt-2 d-flex justify-content-center">
        <div class="col-lg-12 col-md-6">
          <div class="card mb-2 bg-color-1">
            <div class="row">
              <div class="d-flex justify-content-center p-1">
                <h4 class="singup-3 m-2">{{ datos.nombreCompleto }}</h4>
              </div>
            </div>
          </div>
          <div class="card border-color-1">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4">
                  <div class="container-fluid">
                    <div class="row justify-content-center">
                      <div class="col-lg-12 col-md-6 col-sm-12 mb-2">
                        <div class="d-flex justify-content-center mb-2">
                          <div class="card border-color-1">
                            <img class="card-img-top" [src]="datos.foto" alt="foto-de-perfil">
                            <div class="col card-body">
                              <h4 class="card-title d-flex justify-content-center">

                                <a class="">
                                  <i class="bi bi-twitter-x fs-6"></i>
                                </a>
                                <a class="">
                                  <i class="bi bi-facebook fs-6 ps-2 text-primary"></i>
                                </a>
                                <a class="">
                                  <i class="bi bi-instagram fs-6 ps-2 "></i>
                                </a>
                                <a class="">
                                  <i class="bi bi-whatsapp fs-6 ps-2 text-success"></i>
                                </a>
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <p>INFORMACION DE EL ALUMNO</p>
                  <div class="">
                    <table class="table table-bordered table-responsive border-color-1 m-0">
                      <tr>
                        <th scope="col">ALUMNO:</th>
                        <th>{{datos.nombreCompleto}}</th>
                      </tr>
                      <tr>
                        <th>NO.CONTROL</th>
                        <td>{{datos.numControl}}</td>
                      </tr>
                      <tr>
                        <th>CURP</th>
                        <td>{{datos.CURP}}</td>
                      </tr>
                      <tr>
                        <th>ESPECIALIDAD</th>
                        <td>{{datos.especialidad}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Lado Derecho-->





      <div class="col-lg-6">

        <div class="d-flex justify-content-center ms-3" *ngIf="true">
          <div>
            <h2 class="fw-light">Paso 2:</h2>
          </div>
          <div>
            <h5 class="px-3 pt-2 fw-lighter">Ingresar el número de pago</h5>
          </div>
        </div>
        <div class="card border border-success border-2" *ngIf="true">
          <div class="d-flex justify-content-center input-group mb-2 mt-3">
            <span class="input-group-text fw-light fw-semibold" id="basic-addon1">
              <h6 class="fw-light"> Ingrese su número de pago</h6>
            </span>
            <input class="input-group-text" [(ngModel)]="home.NoPago" aria-describedby="basic-addon1" type="text" />
          </div>
          <div class="d-flex justify-content-center mb-2">
            <button class="btn btn-3GBL" (click)="comprobar()" type="button">
              <h6 class="fw-light"> Comprobar Código De Pago</h6>
            </button>
          </div>

          <!-- <div class="d-flex justify-content-center">
            <table class="table table-responsive border">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Monto</th>
                  <th>Fecha Aprobada</th>
                  <th>Orden ID</th>
                  <th>Correo</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div> -->

          <div class="text-center pb-3">
            <img class="btn btn-sucsses img-responsive" src="assets/img/mercadopago.jpg" (click)="crearOrden()" width="150" alt="">
          </div>
          <a class="text-decoration-none text-center" href="" data-bs-toggle="modal" data-bs-target="#info">
            <h6 class="fw-light"> ¿No tienes código de pago? </h6>
          </a>

        </div>
        <div *ngIf="paso2" class="pt-4">
          <div class="d-flex justify-content-center ms-3">
            <div>
              <h2 class="fw-light">Paso 3:</h2>
            </div>
            <div>
              <h5 class="px-3 pt-2 fw-lighter">Elegir el tipo de constancia</h5>
            </div>
          </div>

          <div class="card border border-success border-2 mb-3">
            <div class="d-flex justify-content-center bg-light border-bottom border-success">
              <h3 class="fw-light">Constancias:</h3>
            </div>

            <div class="row">
              <div class="col-lg-6 mt-2">
                <div class="">
                  <div class="form-check m-2 ms-3 ">
                    <input type="radio" (click)="actualizar()" [(ngModel)]="valortipo" class="form-check-input"
                      id="radio1" name="optradio" value="Trámite de Beca" />Para beca
                    <label class="form-check-label" for="radio1"></label>
                  </div>
                  <div class="form-check m-2 ms-3">
                    <input type="radio" (click)="actualizar()" [(ngModel)]="valortipo" class="form-check-input"
                      id="radio2" name="optradio" value="Para Pasaporte" />Para pasaporte
                    <label class="form-check-label" for="radio2"></label>
                  </div>
                  <div class="form-check m-2 ms-3">
                    <input type="radio" (click)="actualizar()" [(ngModel)]="valortipo" class="form-check-input"
                      id="radio3" name="optradio" value="Servicios Médicos" />Para servicios médicos
                    <label class="form-check-label" for="radio3"></label>
                  </div>
                  <div class="form-check m-2 ms-3">
                    <input type="radio" (click)="actualizar()" [(ngModel)]="valortipo" class="form-check-input"
                      id="radio4" name="optradio" value="Trámites Legales" />Para fines legales
                    <label class="form-check-label" for="radio4"></label>
                  </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="card-body">
                  <div class="form-check">
                    <input type="radio" (click)="actualizar()" [(ngModel)]="valortipo" class="form-check-input"
                      id="radio5" name="optradio" value="Trámite Deportivo" />Para deportivo
                    <label class="form-check-label" for="radio5"></label>
                  </div>
                  <div class="form-check mt-2">
                    <input type="radio" (click)="actualizar()" [(ngModel)]="valortipo" class="form-check-input"
                      id="radio6" name="optradio" value="Inscripciones" />Para inscripciones
                    <label class="form-check-label" for="radio6"></label>
                  </div>
                  <div class="form-check mt-2">
                    <input type="radio" (click)="actualizar()" [(ngModel)]="valortipo" class="form-check-input"
                      id="radio6" name="optradio" value="Trámite De Pensión" />Para pensión
                    <label class="form-check-label" for="radio7"></label>
                  </div>
                  <div class="form-check mt-2">
                    <input type="radio" (click)="actualizar()" [(ngModel)]="valortipo" class="form-check-input"
                      id="radio6" name="optradio" value="Apoyo Económico" />Para apoyo económico
                    <label class="form-check-label" for="radio8"></label>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center me-2 mt-2 mb-3">
                <button class="p-1 ps-4 pe-4 border rounded btn btn-3GBL" (click)="veridatos()" data-bs-toggle="modal"
                  data-bs-target="#comprobacion" type="button">
                  Verificar Datos
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="comprobacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4" id="staticBackdropLabel">Paso 4</h1>
        <h5 class="px-3 pt-2 fw-lighter">Verifica los datos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 bg-light">
            <div class="h5 fw-lighter p-2">Datos de la Constancia</div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-control">
                <p>Nombre : {{ datos.nombreCompleto }}</p>
              </div>
              <div class="form-control">
                <p>Asunto: {{ constancia.asunto }}</p>
              </div>
              <div class="form-control">
                <p>Matrícula: {{ constancia.matricula }}</p>
              </div>
              <div class="form-control">
                <p>Clave Institucional: {{ constancia.claveIns }}</p>
              </div>
              <div class="form-control">
                <p>Semestre : {{ constancia.semestre }}</p>
              </div>
              <div class="form-control">
                <p>Especialidad : {{ constancia.especialidad }}</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-control">
                <p>Clave Escolar: {{ constancia.claveEsc }}</p>
              </div>
              <div class="form-control">
                <p>Area: {{ constancia.area }}</p>
              </div>
              <div class="form-control">
                <p>Turno: {{ constancia.turno }}</p>
              </div>
              <div class="form-control">
                <p>Horario: {{ constancia.horario }}</p>
              </div>
              <div class="form-control">
                <p>Periodo :{{ constancia.periodo }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cerrar
          </button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" *ngIf="tabla" (click)="generarcons()">
            Generar constancia
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal de la info-->
<div class="modal fade" id="info" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="h3 text-danger fw-light">
          Métodos Para Solicitar Un Código De Pago:
        </div>
      </div>

      <div class="modal-body">
        <div class="row">

          <div class="col-lg-6 border-end border-2 ">
            <div class="">
              <div class="d-flex mb-4">
                <div class="me-3 h4">Método 1:</div>
                <div class="h4 text-success">Por Correo Electrónico</div>
              </div>
              <div class="mb-3">| Solicita al CEAP por correo electrónico un número de pago, anexando el comprobante de
                la cuota del servicio.</div>
              <div>| Posteriormente le otorgarán el código de pago para usarlo en la aplicación y generar su constancia.
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="">
              <div class="d-flex mb-4">
                <div class="me-3 h4">Método 2:</div>
                <div class="h4 text-success">Forma Presencial</div>
              </div>
              <div class="mb-3">| Asiste a tu escuela a la oficina de control escolar con el recibo de pago
                correspondiente al servicio o cubriendo la cuota en el sitio.</div>
              <div>| Posteriormente le otorgarán el código de pago para usarlo en la aplicación y generar su constancia.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>