<nav class="navbar navbar-expand-sm bg-3g bg-gradient navbar-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home" (click)="visibleLoginRegistro()">
      <img src="{{logo}}" width="37">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item" id="idhome" *ngIf="!mostrar && home">
          <a class="nav-link" routerLink="home" (click)="visibleLoginRegistro()">Home</a>
        </li>
        <li *ngIf="mostrar && iflogin" class="nav-item" id="idlogin">
          <a class="nav-link" routerLink="login" (click)="visibleLoginRegistro()">Login</a>
        </li>

        <li class="nav-item" *ngIf="Administrador">
          <a class="nav-link" routerLink="admin" id="idregistro">Administrador</a>
        </li>
        <li class="nav-item" *ngIf="registro">
          <a class="nav-link" routerLink="registro">Registro</a>
        </li>
      </ul>
    </div>
    <div class="dropdown-center d-flex d-inline-flex" *ngIf="!mostrar || logout">
      <p class="text-wrap text-color-3G pt-2" style="font-size: 10px;font-weight: bold;">{{usuario}}</p>

      <a class="badge rounded-pill text-color-3G" role="button" data-bs-toggle="dropdown" aria-expanded="false">

        <i class="fa fa-user-circle h4" aria-hidden="true"></i>
      </a>

      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
        <li class="ps-2">
          <a class="d-flex d-inline-flex" routerLink="perfil">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <p class="text-wrap text-color-3G ps-2 px-2" style="font-size: 8px;font-weight: bold;">{{usuario}}</p>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <button class="dropdown-item" (click)="salir()">
            <i class="fa-solid fa-right-from-bracket "></i>
          Salir
        </button></li>
      </ul>
    </div>
    <div class="p-4"></div>
    <div class="p-2"></div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
  <div class="row pt-2">
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-2">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Constancias en Línea CBTis66 2022</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>

</div>
