<nav class="navbar navbar-expand-sm bg-3g bg-gradient navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home" (click)="visibleLoginRegistro()">
      <img src="{{logo}}" width="30">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item" id="idhome" *ngIf="!mostrar">
          <a class="nav-link" routerLink="home" (click)="visibleLoginRegistro()">Home</a>
        </li>
        <li *ngIf="mostrar" class="nav-item" id="idlogin">
          <a class="nav-link" routerLink="login" (click)="visibleLoginRegistro()">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="registro" (click)="visibleLoginRegistro()">Registro</a>
        </li>
        <li class="nav-item" *ngIf="true">
          <a class="nav-link" routerLink="pdf" id="idregistro">PDF</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="esferas" (click)="visibleLoginRegistro()">Otra Cosa</a>
        </li>
      </ul>
    </div>


    <div class="dropdown d-flex" *ngIf="!mostrar">
      <a class="btn dropdown-toggle text-color-3G" href="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
         Salir

      </a>

      <ul class="dropdown-menu">
        <li><button class="dropdown-item " (click)="salir()">Salir</button></li>
      </ul>
    </div>
    <div class="p-4"></div>
    <div class="p-2"></div>
  </div>

</nav>

<router-outlet></router-outlet>

<footer class="bg-success bg-gradient text-ligth text-center opacity-25">
  <div class="fw-ligth d-inline-flex pt-2">
    <p class="px-2"><i class="fa-regular fa-copyright"></i></p>
    <p>CompuServer</p>
  </div>
</footer>
