<div class="row">
  <!-- Lado izquierdo -->
  <div class="col-md-4 mt-2">
    <div class="card mb-2 bg-color-1">
      <div class="row">
        <div class="d-flex justify-content-center p-1">
          <p class="singup-3 m-2 fs-5">{{datosDocente._nombre+ " " +datosDocente._apellidoP+ " "
            +datosDocente._apellidoM}}</p>
        </div>
      </div>
    </div>
    <div class="card border-color-1">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-4">
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-lg-12 col-md-6 col-sm-12 mb-2">
                  <div class="d-flex justify-content-center mb-2">
                    <div class="card border-color-1">
                      <img class="card-img-top p-2" src="{{datosDocente._foto}}" width="90" alt="foto-de-perfil">
                      <div class="col card-body py-2">
                        <h4 class="card-title d-flex justify-content-center m-0 p-0">

                          <a class="btn btn-sm"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                            <i class="bi bi-twitter-x fs-2"></i>
                          </a>
                          <i class="bi bi-facebook fs-2 ps-2 text-primary"></i>
                          <i class="bi bi-instagram fs-2 ps-2 "></i>
                          <i class="bi bi-whatsapp fs-2 ps-2 text-success"></i>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <p>Información del Docente</p>
            <div class="">
              <table class="table table-bordered table-responsive border-color-1 m-0">
                <tr>
                  <th scope="col">Docente:</th>
                  <th>{{datosDocente._nombre}}</th>
                </tr>
                <tr>
                  <th>NO.CONTROL</th>
                  <td>{{datosDocente._numControl}}</td>
                </tr>
                <tr>
                  <th>CURP</th>
                  <td>{{datosDocente._curp}}</td>
                </tr>
                <tr>
                  <th>Grado Academico</th>
                  <td>{{datosDocente._gradoAcademico}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Lado derecho -->
  <div class="col-md-8 mt-2">

    <!--Modulo globales-->
    <div class="accordion mb-2" id="accordionGlobales">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseGlobales" aria-expanded="false" aria-controls="collapseGlobales"
            style="height: 3rem;">
            <p class="fs-6 fw-light text-center text-secondary mt-3">
              <i class="bi bi-card-checklist"></i>
              Registro de alumnos a globales
            </p>
          </button>
        </h2>
        <div id="collapseGlobales" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <!-- REgistro de alumnos Globales -->
          <div class="accordion-body">
            <!-- buscar alumno -->
            <div class="d-flex mb-3">
              <input class="form-control me-2" type="search" placeholder="Numero de Control" aria-label="Search"
                [(ngModel)]="numControlAlumnoGlobal">
              <button (click)="buscarAlumno($event)" class="btn btn-outline-success" type="submit"
                id="global">BUSCAR</button>
            </div>
            <!-- Alumno agregado -->
            <div class="container p-0">
              <table class="table table-sm table-responsive table-bordered border-color-1 m-0">
                <thead>
                  <tr>
                    <th scope="col">NC</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Materia</th>
                    <th scope="col">Periodo escolar</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let alumno of alumnosGlobales">
                    <td>{{alumno.numControl}}</td>
                    <td>{{alumno.nombre+" "+alumno.apellidoP+" "+alumno.apellidoM}}</td>
                    <td>
                      <select class="form-select form-select-sm" aria-label="Small select example">
                        <option selected>Selecionar materia</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </td>
                    <td>{{alumno._periodoEscolar}}</td>
                    <td>
                      <button class="btn btn-sm btn-danger"
                        (click)="eliminarAlumno(alumno.numControl,'global')">Eliminar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- modulo Recursa-->
    <div class="accordion mb-2" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseRecursa" aria-expanded="false" aria-controls="collapseRecursa"
            style="height: 3rem;">
            <p class="fs-6 fw-light text-center text-secondary mt-3">
              <i class="bi bi-card-checklist"></i>
              Registro de alumnos a recursamiento
            </p>
          </button>
        </h2>
        <div id="collapseRecursa" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="d-flex mb-3">
              <input class="form-control me-2" type="search" placeholder="Numero de Control" aria-label="Search"
                [(ngModel)]="numControlAlumnoRecursa">
              <button (click)="buscarAlumno($event)" class="btn btn-outline-success" type="submit"
                id="recursa">BUSCAR</button>
            </div>
            <div class="container p-0">
              <table class="table table-sm table-responsive table-bordered border-color-1 m-0">
                <thead>
                  <tr>
                    <th scope="col">NC</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Materia</th>
                    <th scope="col">Periodo escolar</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let alumno of alumnosRecursas">
                    <td>{{alumno.numControl}}</td>
                    <td>{{alumno.nombre+" "+alumno.apellidoP+" "+alumno.apellidoM}}</td>
                    <td>
                      <select class="form-select form-select-sm" aria-label="Small select example">
                        <option selected>Selecionar materia</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </td>
                    <td>{{alumno._periodoEscolar}}</td>
                    <td>
                      <button class="btn btn-sm btn-danger"
                        (click)="eliminarAlumno(alumno.numControl,'recursa')">Eliminar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>