<div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand ms-5" href="">Juanito Corp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                    <a class="nav-link" (click)="AccessLogin()">Login</a>
                    </li>
                    <li class="nav-item" *ngIf="normal">
                    <a class="nav-link" (click)="AccessHome()">Home</a>
                    </li>
                    <li class="nav-item" *ngIf="admin">
                    <a class="nav-link" (click)="AccessAdmin()">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
