 <div class="">
    <div class="d-flex justify-content-center">
        <h1>¿Que Desea Hacer?</h1>
    </div>
    <div class="border row col-lg-2">
        <h3>Constancias:</h3>
    </div>
    <div class="row">
        <div class="col-lg-6 text-success">
            <li class="p-2"><a class="text-danger" href="">Para Beca</a></li>
            <li class="p-2"><a class="text-danger" href="">Para Pasaporte</a></li>
            <li class="p-2"><a class="text-danger" href="">Para Servicios Médicos</a></li>
            <li class="p-2"><a class="text-danger" href="">Para Fines Legales</a></li>
            <li class="p-2"><a class="text-danger" href="">Para Seguro Social</a></li>
            <li class="p-2"><a class="text-danger" href="">Para Inscripciones</a></li>
        </div>
        <div class="col-lg-6">
            <div class="border border-3 border-success pb-5">
                <h4 class="">Para sacar una constancia se debe de tener en claro que se desea obtener, para que clase de trámite se requiere</h4>
            </div>
        </div>
    </div>
</div>