<!-- <div class="card">
  <div class="card-header">
    Perfil de el Alumno 
  </div>
  <div class="card-body">
    <h4 class="card-title">Title</h4>
    <p class="card-text">Text</p>
  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div> -->





    <div class="col-md-6">
        <img src="../../../assets/sep.png"  alt="DGETI" width="200" height="60" class="m-1 mt-3 mr">

        <img src="../../../assets/DGETI.png"  alt="DGETI" width="280" height="90" class="m-1 mt-3 mr">
    
        <img src="../../../assets/logoCBTIS-removebg.png"  alt="DGETI" width="120" height="100" class="m-1 mt-3">
    </div>

    <div class="border border-danger rounded p-2 w-50 mx-auto border-3" >
        <th class="col-6 col-sm-9 text-center rounded rojo border border-dark">Centro de Bachillerato Tecnológico Industrial y de Servicios No.66 <br>
            "Agustín de Iturbide" <br> Clave: 30DCTO2360</th>
        <div class="row">
        <div class="col-6 col-sm">
            <table class="table table-border border border-dark rounded">
                
                <tbody>

                    <tr>
                        <!-- <th class="c1">Alumno</th> -->
                        <!-- <td class="c1 text-center">{{datos.nombre}}</td> -->
                        <th class="c1">Alumno</th>
                        <td class="c1 text-center">
                        <input [(ngModel)]="perfilInfo.alumno" class="border border-0 c1"  type="text" placeholder="dx"> 
                        </td>
                    </tr>

                    <tr>
                        <th class="c2">CURP</th>
                        <td class="c2 text-center">{{datos.CURP}}</td>
                    </tr>
                    <tr>
                        <th class="c1">Numero de control</th>
                        <td class="c1 text-center">{{datos.numControl}}</td>
                    </tr>
                    <tr>
                        <th class="c2">Especialidad</th>
                        <td class="c2 text-center">{{datos.especialidad}}</td>
                    </tr>
                    <tr>
                        <th class="c1">Grado</th>
                        <td class="c1 text-center">{{datos.grado}}</td>
                    </tr>
                    <tr>
                        <th class="c2">Grupo</th>
                        <td class="c2 text-center">{{datos.grupo}}</td>
                    </tr>
                    <tr>
                        <th class="c1">Correo</th>
                        <td class="c1 text-center">{{datos.correo}}</td>
                    </tr>
                    <tr>
                        <th class="c2">Turno</th>
                        <td class="c2 text-center">{{datos.turno}}</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>





                