<div class="col-lg-6">
    <div class="d-flex justify-content-center ms-3">
    </div>

    <div class="">
      <div class="">
        <div class="card table-responsive border border-success border-2 p-2 ps-3 pt-3">
          <table class="table table-bordered table-hover ">
            <thead class="border bg-light">
              <th class="h4 p-2 fw-light">Datos de el Alumno</th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <th>Nombre</th>
                <td>{{alumno}}</td>
              </tr>
              <tr>
                <th>Correo</th>
                <td>{{correo}}</td>
              </tr>
              <tr>
                <th>Curp</th>
                <td>{{curp}}</td>
              </tr>
              <tr>
                <th>Especialidad</th>
                <td>{{especialidad}}</td>
              </tr>
              <tr>
                <th>Semestre</th>
                <td>{{semestre}}</td>
              </tr>
              <tr>
                <th>Area</th>
                <td>{{area}}</td>
              </tr>
              <tr>
                <th>Turno</th>
                <td>{{turno}}</td>
              </tr>

            </tbody>

          </table>

        </div>
      </div>
    </div>
  </div>
