.btn-3g {
  padding:20px 20px;
  font-size:30px;
  line-height:1.66;
  border-radius:12px
}
.logo{
  width: 30px;
}

.btn-3g-acceso {
  padding:10px 10px;
  font-size:20px;
  line-height:.75;
  border-radius:6px
}
