<div class="row">
  <div>
    <h1 class="border  border-1 bg-secondary mt-3 ms-3 me-3"></h1>
  </div>
  <!--texto clave perdida-->
  <div>
    <h2 class="display-6 text-center fw-light text-success">Módulo del Administrador</h2>
  </div>
  <div>
    <h1 class="border border-1 bg-light ms-3 me-3 mb-2"></h1>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="card" style="height:460px;">
        <div class="card-header justify-content-center">
          <p class="h5 text-center fw-light text-secondary">
            <i class="fa fa-address-card" aria-hidden="true"></i>
            Solicitudes de usuarios
          </p>
        </div>
        <div class="card-body">
          <!-- ngfor en un table -->
          <div class="table-responsive">
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th scope="col">Número Ctrl.</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Grado</th>
                  <th scope="col">Grupo</th>
                  <th scope="col">Especialidad</th>
                  <th class="text-center">Acciones</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngFor="let dato of datos; let reg = index ">
                  <td>{{dato.numControl}}</td>
                  <td>{{dato.nombre}}</td>
                  <td>{{dato.grado}}</td>
                  <td>{{dato.grupo}}</td>
                  <td>{{dato.especialidad}}</td>
                  <td class="text-center "> <a data-bs-toggle="modal" data-bs-target="#aceptado" class="badge bg-success" disabled><i
                        class="fa fa-check-circle" aria-hidden="true"></i></a>
                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row g-0 pb-3">
        <div class="card">
          <div class="card-header">
            <p class="h5 text-center fw-light text-secondary">
              <i class="fa fa-address-card" aria-hidden="true"></i>
              Solicitud de Pago de Servicio
            </p>
          </div>
          <div class="card-body ">
            <div class="row ">

              <div class="col-8">
                <label class="visually-hidden" for="autoSizingInputGroup">Número de Control</label>
                <div class="input-group">
                  <div class="input-group-text">Num. Control solicitante :</div>
                  <input [(ngModel)]="nc" type="text" class="form-control" id="autoSizingInputGroup"
                    placeholder="Número de Control" required>
                </div>
              </div>
              <div class="d-grid gap-2 col-4 mx-auto">
                <a name="" id="" class="btn btn-primary " (click)="verificar()" role="button">Verificar</a>
              </div>

            </div>


            <div class="row mt-2">
              <div class="col-6">
                <label class="visually-hidden" for="autoSizingInputGroup">Número de Control</label>
                <div class="input-group">
                  <div class="input-group-text">Nombre</div>
                  <input [(ngModel)]="alumno.nombre" type="text" class="form-control" id="autoSizingInputGroup"
                    placeholder="Nombre">
                </div>
              </div>
              <div class="col-3">
                <label class="visually-hidden" for="autoSizingInputGroup">Grado</label>
                <div class="input-group">
                  <div class="input-group-text">Grado</div>
                  <input [(ngModel)]="alumno.grado" type="text" class="form-control" id="autoSizingInputGroup"
                    placeholder="Grado">
                </div>
              </div>
              <div class="col-3">
                <label class="visually-hidden" for="autoSizingInputGroup">Grupo</label>
                <div class="input-group">
                  <div class="input-group-text">Grupo</div>
                  <input [(ngModel)]="alumno.grupo" type="text" class="form-control" id="autoSizingInputGroup"
                    placeholder="Grupo">
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-4">
                <label class="visually-hidden" for="autoSizingInputGroup">Correo</label>
                <div class="input-group">
                  <div class="input-group-text">Correo</div>
                  <input [(ngModel)]="alumno.correo" type="text" class="form-control" id="autoSizingInputGroup"
                    placeholder="correo">
                </div>
              </div>
              <div class="col-5">
                <label class="visually-hidden" for="autoSizingInputGroup">Especilidad</label>
                <div class="input-group">
                  <div class="input-group-text">Especilidad</div>
                  <input [(ngModel)]="alumno.especialidad" type="text" class="form-control" id="autoSizingInputGroup"
                    placeholder="Especilidad">
                </div>
              </div>
              <div class="col-3">
                <label class="visually-hidden" for="autoSizingInputGroup">Turno</label>
                <div class="input-group">
                  <div class="input-group-text">Turno</div>
                  <input [(ngModel)]="alumno.turno" type="text" class="form-control" id="autoSizingInputGroup"
                    placeholder="turno">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row g-0">
        <div class="card">
          <div class="card-header">
            <p class="h5 text-center fw-light text-secondary">
              <i class="fa fa-address-card" aria-hidden="true"></i>
              Generador de Código de pago
            </p>
          </div>
          <div class="card-body">
            <div class="row" *ngIf="verificado">
              <div class="col-12 bg-light rounded-8 bg-gradient align-baseline d-flex justify-content-center py-4">
                <button type="button" class="btn btn-success btn-3g " data-bs-toggle="modal"
                  data-bs-target="#exampleModal">
                  Generar Código
                  <i class="fa fa-qrcode" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Generador de Código del {{alumno.escuela}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <input [(ngModel)]="numero" class="form-control form-control-lg" type="text"
            aria-label=".form-control-lg example" disabled="disabled">
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-center mt-3">
            <a (click)="GenerarCodigoPago()" class="btn btn-primary mb-3">Generar</a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-center mt-3">
            <label class="visually-hidden" for="autoSizingInputGroup">Costo</label>
            <div class="input-group">
              <div class="input-group-text"> $ :</div>
              <input [(ngModel)]="solicitud.aportacion" type="number" class="form-control" id="autoSizingInputGroup"
                >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-center mt-3">
            <label class="visually-hidden" for="autoSizingInputGroup">Descripcion</label>
            <div class="input-group">
              <div class="input-group-text"> Descripcion</div>
              <textarea [(ngModel)]="solicitud.descripcion" type="text" class="form-control" id="autoSizingInputGroup"
                placeholder="Descripción del pago">
                </textarea>
            </div>
          </div> 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <a (click)="enviarSolicitud()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Enviar Solicitud</a>
      </div>
    </div>
  </div>      
</div>

<!--Modal datos-->
<div class="modal fade" id="aceptado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="h3">
          Datos Del Solicitante:
        </div>
      </div>
      <div class="modal-body">
            <!--Nombre-->
            <div class="input-group mb-3 px-3 mt-2">
              <span class="input-group-text" id="basic-addon1">Name</span>
              <input [(ngModel)]="usuario.nombre" type="text" class="form-control" placeholder="Nombre"
                aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <!--Correo Institucional-->
            <div class="input-group mb-3 px-3">
              <span class="input-group-text" id="basic-addon1">@</span>
              <input [(ngModel)]="usuario.correo" type="text" class="form-control" placeholder="Correo Institucional"
                aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <!--Direccion-->
            <div class="input-group mb-3 px-3">
              <span class="input-group-text" id="basic-addon1">D</span>
              <input [(ngModel)]="usuario.direccion" type="text" class="form-control" placeholder="Ingrese Su Dirección"
                aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <!--Curp-->
            <div class="input-group mb-3 px-3">
              <span class="input-group-text" id="basic-addon1">Curp</span>
              <input [(ngModel)]="usuario.curp" type="text" class="form-control" placeholder="Ingrese Su Curp"
                aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <!--Especialidad y Semestre-->
            <div class="row d-flex mb-3">
              <div class="col-sm-5">
                <div class="input-group px-3">
                  <span class="input-group-text">Especialidad:</span>
                  <input [(ngModel)]="usuario.especialidad" type="text" class="form-control" placeholder="Ingrese Su Curp"
                aria-label="Username" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="col-sm-7 d-flex">
                <div class="input-group px-3">
                  <span class="input-group-text" id="basic-addon1">Sem.</span>
                  <select id="input-group-text" [(ngModel)]="usuario.semestre" class="form-select">
                    <option value="PRIMER">°1</option>
                    <option value="SEGUNDO">°2</option>
                    <option value="TERCER">°3</option>
                    <option value="CUARTO">°4</option>
                    <option value="QUINTO">°5</option>
                    <option value="SEXTO">°6</option>
                  </select>
                </div>
              
              
                <div class="input-group px-3">
                  <span class="input-group-text" id="basic-addon1">Grupo</span>
                  <select id="input-group-text" [(ngModel)]="usuario.grupo" class="form-select">
                    <option value="A">"A"</option>
                    <option value="B">"B"</option>
                    <option value="C">"C"</option>
                    <option value="D">"D"</option>
                    <option value="E">"E"</option>
                    <option value="F">"F"</option>
                    <option value="G">"G"</option>
                    <option value="H">"H"</option>
                    <option value="I">"I"</option>
                    <option value="J">"J"</option>
                    <option value="K">"K"</option>
                  </select>
                </div>
              </div>
            </div>
            <!--Area y Turno-->
            <div class="input-group mb-3 px-3">
              <span class="input-group-text" id="basic-addon1">Área</span>
              <input type="text" [(ngModel)]="usuario.area" class="form-select" disabled>

              <span class="input-group-text" id="basic-addon1">Turno</span>
              <select id="input-group-text" [(ngModel)]="usuario.turno" class="form-select">
                <option value="Matutino">Matutino</option>
                <option value="Vespertino">Vespertino</option>
              </select>
            </div>
            <!--No Control-->
            <div class="input-group mb-3 px-3">
              <span class="input-group-text" id="basic-addon1">#</span>
              <input [(ngModel)]="usuario.noctrl" type="text" class="form-control" placeholder="Numero de Control"
                aria-label="Username" aria-describedby="basic-addon1" value="">
              <span class="input-group-text" id="basic-addon1">!IMPORTANT</span>
            </div>
            <!--contraseña y Repetir Contra-->
            <div class="input-group mb-3 px-3">
              <span class="input-group-text" id="basic-addon1">***</span>
              <input [(ngModel)]="usuario.pass" type="password" class="form-control" placeholder="Contraseña"
                aria-label="Username" aria-describedby="basic-addon1">
              <span class="input-group-text" id="basic-addon1">***</span>
              <input [(ngModel)]="usuario.pass2" type="password" class="form-control" placeholder="Repita Su Contraseña"
                aria-label="Username" aria-describedby="basic-addon1">
            </div>
    
          </div>
          <div class="modal-footer">
            <div class="">
              <button class="btn btn-success" type="button" (click)="aceptar(1)">Verificar</button>
            </div>
        </div>
        </div>
        
      </div>
    </div>

