<header class="row d-flex justify-content-center">
  <div class="col-lg-12 pt-4">
    <div class="mb-4 text-center display-6 fw-light">Sistema para la emisión de Constancias de Estudios</div>
    <div class="row d-flex">
      <div class="col-lg-6 d-flex h4 pb-2 mb-4 text-success border-2 border-bottom border-success">
        <h5><i class="fa-solid fa-right-to-bracket"></i></h5>
        <h5 class="px-2">{{informacion}}</h5>
      </div>
      <div class="col-6 d-flex h4 pb-2 mb-4 text-success border-2 border-bottom border-success">
        <h3><i class="fa-solid fa-right-to-bracket"></i></h3>
        <h3 class="  px-2">{{registrarse}}</h3>
        <a class="text-ligth px-5" routerLink="/login">¿Ya tienes una cuenta?</a>
      </div>
    </div>
  </div>

  
    <div class="row">

      <!--Parte Izquierda Del Sistema-->
      <div class="col-lg-6">
        <div>
          <img src="{{infografia}}" class="infografia">
        </div>
      </div>
      <!--Parte Derecha Del Sistema-->
      <div class="col-lg-6">
        <!--Caja De Información-->
        <div class="border border-secondary rounded">
          <!--Introduccion-->
          <div class="border-botom border-secondary border-bottom ">
            <h3 class="p-3 bg-secondary">Ingrese Sus Datos Para Poder Registrarse</h3>
          </div>
          <!--nombre de Usuario-->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">ID</span>
            <input [(ngModel)]="usuario.UserName" type="text" class="form-control" placeholder="User Name" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <!--Correo Institucional-->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input [(ngModel)]="usuario.correo" type="text" class="form-control" placeholder="Correo Institucional" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <!--Curp-->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Curp</span>
            <input [(ngModel)]="usuario.curp" type="text" class="form-control" placeholder="Ingrese Su Curp" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <!--Especialidad y Semestre-->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Especialidad</span>
            <input [(ngModel)]="usuario.especialidad" type="text" class="form-control" placeholder="Especialidad" aria-label="Username" aria-describedby="basic-addon1">
            <span class="input-group-text" id="basic-addon1">"°"</span>
            <input [(ngModel)]="usuario.semestre" type="text" placeholder="Ingrese Su Semestre">
          </div>
          <!--Area y Turno-->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input [(ngModel)]="usuario.area" type="text" class="form-control" placeholder="Ingrese Su Area" aria-label="Username" aria-describedby="basic-addon1">
            <span class="input-group-text" id="basic-addon1"></span>
            <input [(ngModel)]="usuario.turno" type="text" placeholder="Ingrese Su Turno">
          </div>
          <!--No Control-->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">#</span>
            <input [(ngModel)]="usuario.noctrl" type="text" class="form-control" placeholder="Numero de Control" aria-label="Username" aria-describedby="basic-addon1">
            <span class="input-group-text" id="basic-addon1">!IMPORTANT</span>
          </div>
          <!--contraseña y Repetir Contra-->
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">***</span>
            <input [(ngModel)]="usuario.pass" type="password" class="form-control" placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1">
            <span class="input-group-text" id="basic-addon1">***</span>
            <input [(ngModel)]="usuario.pass2" type="password" class="form-control" placeholder="Repita Su Contraseña" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <!--Registro-->
          <div class="d-flex justify-content-center">
            <button class="me-5 mb-3 p-4 pb-2 pt-2 bg-success rounded ps-5 pe-5" type="button" (click)='Registro()'>Registrarse</button>

          </div>
        </div>


      </div>
    </div>
  
  <!--<div class="col-lg-1"></div>-->
</header>
