<div class="row">
  <div class="col-lg-12">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12 pt-2">
        <div class="mb-1 text-center display-6 fw-light fs-3">{{proyecto}}</div>
      </div>
      <div class="row">
        <!--Parte Izquierda Del Sistema-->
        <div class="col-md-3 mt-2">
          <div class="mb-2 bg-color-1">
            <div class="row">
              <div class="d-flex justify-content-center text-center ms-2">
                <p class="singup-3 mt-2"><i class="fa-solid fa-right-to-bracket"></i></p>
                <p class="singup-3 ms-2 mt-2">{{registrarse}}</p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <div class="row d-flex justify-content-center">
                    <div class="card text-center">
                      <input #fileInput type="file" class="form-control form-control-sm" capture="camera"
                        accept="image/*" (change)="cargarFoto($event)" hidden>
                      <a (click)="activarInput()" class="mt-3 mb-5 pe-auto">
                        <img [src]="foto" class="img-fluid borde-999">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="input-group">
                <span class="input-group-text" style="font-size: small;">Tipo de usuario :</span>
                <select id="tipousuario" class="form-select form-select-sm" (change)="tipousuario($event)">
                  <option value=" " selected>-Seleccionar-</option>
                  <option value="Alumno">Alumno</option>
                  <option value="Docente">Docente</option>
                  <option value="CE">Control Escolar</option>
                  <option value="OE">Orientacion Educativa</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!--Parte Derecha Del Sistema-->
        <div class="col-md-9 mt-1">
          <!-- contenedor principal -->
          <div class="border border-secundary mt-1">
            <!-- Encabezado de columna -->
            <div class="border-bottom bg-color-1 ">
              <p class="singup-3 ps-4 pt-2 text-center">
                Ingrese sus datos para el registro
              </p>
            </div>
            <div class="container">
              <!-- formulario para los alumnos -->
              <div class="row" *ngIf="tipoUsuario == 'Alumno'">
                <!--Nombre-->
                <div class="col-md-4">
                  <label for="nombre" class="form-label ps-2 tm">Nombre</label>
                  <input [(ngModel)]="alumno._nombre" type="text" class="form-control tm" id="nombre" #nombre
                    placeholder="Nombre empezando con mayúscula" style="font-size: small;text-transform: uppercase;"
                    id="nombre" (keyup)="valida($event)">
                </div>
                <!--Apellido Paterno-->
                <div class="col-md-4">
                  <label for="ap" class="form-label ps-2 tm">Apellido Paterno</label>
                  <input [(ngModel)]="alumno._apellidoP" type="text" class="form-control tm" id="ap"
                    (keyup)="valida($event)" placeholder="Apellido empezando con mayúscula"
                    style="font-size: small;text-transform: uppercase;" id="ap">
                </div>
                <!--Apellido Materno-->
                <div class="col-md-4">
                  <label for="am" class="form-label ps-2 tm">Apellido Materno</label>
                  <input [(ngModel)]="alumno._apellidoM" type="text" class="form-control tm" id="am"
                    (keyup)="valida($event)" placeholder="Apellido empezando con mayúscula"
                    style="font-size: small;text-transform: uppercase;" id="am">
                </div>
                <!--Fecha de nacimiento-->
                <div class="col-md-6">
                  <label for="fn" class="form-label ps-2 tm">Fecha de nacimiento</label>
                  <input [(ngModel)]="alumno._fechaNac" type="date" class="form-control tm" id="fn"
                    (keyup)="valida($event)" placeholder="Fecha de nacimiento" id="fn">
                </div>
                <!-- correo electrónico -->
                <div class="col-md-6">
                  <label for="correo" class="form-label ps-2 tm">Correo electrónico</label>
                  <input [(ngModel)]="alumno._correo" type="email" class="form-control tm" (keyup)="valida($event)"
                    (change)="valida($event)" placeholder="Correo electrónico" id="correo">
                  <p id="validaCorreo" class="tm"></p>
                </div>
                <!-- CURP -->
                <div class="col-md-4">
                  <label for="curp" class="form-label ps-2 tm">CURP</label>
                  <input [(ngModel)]="alumno._curp" type="text" class="form-control tm" placeholder="CURP" id="curp"
                    (keyup)="valida($event)" style="font-size: small;text-transform: uppercase;" id="curp">
                </div>
                <!-- dirección -->
                <div class="col-md-8">
                  <label for="dir" class="form-label ps-2 tm">Dirección</label>
                  <input [(ngModel)]="alumno._direccion" type="text area" class="form-control tm"
                    (keyup)="valida($event)" placeholder="Dirección" id="dir">
                </div>
                <!-- telefono -->
                <div class="col-md-3">
                  <label for="tel" class="form-label ps-2 tm">Teléfono</label>
                  <input [(ngModel)]="alumno._telefono" type="text" class="form-control tm" placeholder="Teléfono"
                    (keyup)="valida($event)" id="tel">
                </div>
                <!-- facebook -->
                <div class="col-md-3">
                  <label for="fb" class="form-label ps-2 tm">Facebook</label>
                  <input [(ngModel)]="alumno._facebook" type="text" class="form-control tm" placeholder="Facebook"
                    (keyup)="valida($event)" id="fb">
                </div>
                <!-- twitter -->
                <div class="col-md-3">
                  <label for="tw" class="form-label ps-2 tm">Twitter</label>
                  <input [(ngModel)]="alumno._twitter" type="text" class="form-control tm" placeholder="Twitter"
                    id="tw">
                </div>
                <!-- instagram -->
                <div class="col-md-3">
                  <label for="ig" class="form-label ps-2 tm">Instagram</label>
                  <input [(ngModel)]="alumno._instagram" type="text" class="form-control tm" placeholder="Instagram"
                    id="ig">
                </div>
                <!-- division -->
                <hr class="border border-danger border-1 opacity-50 mt-2">
                <!--Especialidad-->
                <div class="col-md-5 col-lg-6">
                  <div class="input-group">
                    <span class="input-group-text tm">Especialidad:</span>
                    <select id="especialidad" [(ngModel)]="alumno._especialidad" class="form-select tm"
                      (change)="area()">
                      <option value="Programación">Programación</option>
                      <option value="Electricidad">Electricidad</option>
                      <option value="Contabilidad">Contabilidad</option>
                      <option value="Producción Industrial De Alimentos">Producción Industrial De
                        Alimentos</option>
                      <option value="Soporte Y Mantenimieto Equipo De Computo">Soporte Y Mantenimieto
                        Equipo De Computo</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="input-group">
                    <span class="input-group-text tm">grado</span>
                    <select id="semestre" [(ngModel)]="alumno._grado" class="form-select tm">
                      <option value="PRIMER">°1</option>
                      <option value="SEGUNDO">°2</option>
                      <option value="TERCER">°3</option>
                      <option value="CUARTO">°4</option>
                      <option value="QUINTO">°5</option>
                      <option value="SEXTO">°6</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="input-group">
                    <span class="input-group-text tm" id="basic-addon1">Grupo</span>
                    <select id="grupo" [(ngModel)]="alumno._grupo" class="form-select tm">
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="C">C</option>
                      <option value="D">D</option>
                      <option value="E">E</option>
                      <option value="F">F</option>
                      <option value="G">G</option>
                      <option value="H">H</option>
                      <option value="I">I</option>
                      <option value="J">J</option>
                      <option value="K">K</option>
                    </select>
                  </div>
                </div>
                <!--Area y Turno-->
                <div class="input-group mb-3 px-3">
                  <span class="input-group-text tm">Área</span>
                  <input type="text" [(ngModel)]="alumno._area" class="form-control tm" disabled>

                  <span class="input-group-text tm">Turno</span>
                  <select id="input-group-text" [(ngModel)]="alumno._turno" class="form-select tm">
                    <option value="Matutino">Matutino</option>
                    <option value="Vespertino">Vespertino</option>
                  </select>
                </div>
                <!--No Control-->
                <div class="input-group mb-3 px-3">
                  <span class="input-group-text tm">#</span>
                  <input [(ngModel)]="alumno._numControl" type="text" class="form-control tm"
                    placeholder="Numero de Control" aria-label="Username" aria-describedby="basic-addon1" value="">
                  <span class="input-group-text tm">!IMPORTANTE</span>
                </div>
                <!-- pass -->
                <div class="col-md-6 pt-3">
                  <div class="input-group mb-3 px-3">
                    <span class="input-group-text tm">Contraseña</span>
                    <input type="text" [(ngModel)]="alumno._pass" class="form-control tm" id="pass">
                  </div>
                </div>
                <div class="col-md-6 pt-3">
                  <div class="input-group mb-3 px-3">
                    <span class="input-group-text tm">Confirmar</span>
                    <input type="text" [(ngModel)]="alumno._pass2" class="form-control tm" id="pass2">
                  </div>
                </div>
              </div>

              <!-- Formulario docente -->
              <div class="row" *ngIf="tipoUsuario == 'Docente'">
                <!--Nombre-->
                <div class="col-md-4">
                  <label for="nombre" class="form-label ps-2 tm">Nombre</label>
                  <input [(ngModel)]="docente._nombre" type="text" class="form-control tm" id="nombre" #nombre
                    placeholder="Nombre empezando con mayúscula" style="font-size: small;text-transform: uppercase;"
                    id="nombre" (keypress)="valida($event)">
                </div>
                <!--Apellido Paterno-->
                <div class="col-md-4">
                  <label for="ap" class="form-label ps-2 tm">Apellido Paterno</label>
                  <input [(ngModel)]="docente._apellidoP" type="text" class="form-control tm" id="ap"
                    (keypress)="valida($event)" placeholder="Apellido empezando con mayúscula"
                    style="font-size: small;text-transform: uppercase;" id="ap">
                </div>
                <!--Apellido Materno-->
                <div class="col-md-4">
                  <label for="am" class="form-label ps-2 tm">Apellido Materno</label>
                  <input [(ngModel)]="docente._apellidoM" type="text" class="form-control tm" id="am"
                    (keypress)="valida($event)" placeholder="Apellido empezando con mayúscula"
                    style="font-size: small;text-transform: uppercase;" id="am">
                </div>
                <!--Fecha de nacimiento-->
                <div class="col-md-6">
                  <label for="fn" class="form-label ps-2 tm">Fecha de nacimiento</label>
                  <input [(ngModel)]="docente._fechaNac" type="date" class="form-control tm" id="fn"
                    (keypress)="valida($event)" placeholder="Fecha de nacimiento" id="fn">
                </div>
                <!-- correo electrónico -->
                <div class="col-md-6">
                  <label for="correo" class="form-label ps-2 tm">Correo electrónico</label>
                  <input [(ngModel)]="docente._correo" type="email" class="form-control tm" (keyup)="valida($event)"
                    (change)="valida($event)" placeholder="Correo electrónico" id="correo">
                  <p id="validaCorreo" class="tm"></p>
                </div>
                <!-- CURP -->
                <div class="col-md-4">
                  <label for="curp" class="form-label ps-2 tm">CURP</label>
                  <input [(ngModel)]="docente._curp" type="text" class="form-control tm" placeholder="CURP" id="curp"
                    (keypress)="valida($event)" style="font-size: small;text-transform: uppercase;" id="curp">
                </div>
                <!-- dirección -->
                <div class="col-md-8">
                  <label for="dir" class="form-label ps-2 tm">Dirección</label>
                  <input [(ngModel)]="docente._direccion" type="text area" class="form-control tm"
                    (keypress)="valida($event)" placeholder="Dirección" id="dir">
                </div>
                <!-- telefono -->
                <div class="col-md-3">
                  <label for="tel" class="form-label ps-2 tm">Teléfono</label>
                  <input [(ngModel)]="docente._telefono" type="text" class="form-control tm" placeholder="Teléfono"
                    (keypress)="valida($event)" id="tel">
                </div>
                <!-- facebook -->
                <div class="col-md-3">
                  <label for="fb" class="form-label ps-2 tm">Facebook</label>
                  <input [(ngModel)]="docente._facebook" type="text" class="form-control tm" placeholder="Facebook"
                    (keypress)="valida($event)" id="fb">
                </div>
                <!-- twitter -->
                <div class="col-md-3">
                  <label for="tw" class="form-label ps-2 tm">Twitter</label>
                  <input [(ngModel)]="docente._twitter" type="text" class="form-control tm" placeholder="Twitter"
                    id="tw">
                </div>
                <!-- instagram -->
                <div class="col-md-3">
                  <label for="ig" class="form-label ps-2 tm">Instagram</label>
                  <input [(ngModel)]="docente._instagram" type="text" class="form-control tm" placeholder="Instagram"
                    id="ig">
                </div>
                <!-- division -->
                <hr class="border border-danger border-1 opacity-50 mt-2">
                <!-- RFC -->
                <div class="col-md-4">
                  <label for="rfc" class="form-label ps-2 tm">RFC</label>
                  <input [(ngModel)]="docente._RFC" type="text" class="form-control tm" placeholder="RFC" id="rfc"
                    (keypress)="valida($event)" style="font-size: small;text-transform: uppercase;" id="rfc">
                </div>
                <!-- Grado Academico -->
                <div class="col-md-4">
                  <label for="grado" class="form-label ps-2 tm">Grado Academico</label>
                  <input [(ngModel)]="docente._gradoAcademico" type="text" class="form-control tm"
                    placeholder="Grado Academico" id="grado" id="grado">
                </div>
                <!-- Cedula profesional -->
                <div class="col-md-4">
                  <label for="cedula" class="form-label ps-2 tm">Cedula profesional</label>
                  <input [(ngModel)]="docente._CEDULA" type="text" class="form-control tm"
                    placeholder="Cedula profesional" id="cedula" style="font-size: small;text-transform: uppercase;"
                    id="cedula">
                </div>
                <!-- pass -->
                <div class="col-md-6 pt-3">
                  <div class="input-group mb-3 px-3">
                    <span class="input-group-text tm">Contraseña</span>
                    <input type="text" [(ngModel)]="docente._pass" class="form-control tm" id="pass">
                  </div>
                </div>
                <div class="col-md-6 pt-3">
                  <div class="input-group mb-3 px-3">
                    <span class="input-group-text tm">Confirmar</span>
                    <input type="text" [(ngModel)]="docente._pass2" class="form-control tm" id="pass2">
                  </div>
                </div>
              </div>
              <!-- Formulario control escolar y Orientacion Educativa -->
              <div class="row d-flex" *ngIf="tipoUsuario == 'CE' || tipoUsuario=='OE'">
                <!--Nombre-->
                <div class="col-md-4">
                  <label for="nombre" class="form-label ps-2 tm">Nombre</label>
                  <input [(ngModel)]="administrativo._nombre" type="text" class="form-control tm" id="nombre" #nombre
                    placeholder="Nombre empezando con mayúscula" style="font-size: small;text-transform: uppercase;"
                    id="nombre" (keypress)="valida($event)">
                </div>
                <!--Apellido Paterno-->
                <div class="col-md-4">
                  <label for="ap" class="form-label ps-2 tm">Apellido Paterno</label>
                  <input [(ngModel)]="administrativo._apellidoP" type="text" class="form-control tm" id="ap"
                    (keypress)="valida($event)" placeholder="Apellido empezando con mayúscula"
                    style="font-size: small;text-transform: uppercase;" id="ap">
                </div>
                <!--Apellido Materno-->
                <div class="col-md-4">
                  <label for="am" class="form-label ps-2 tm">Apellido Materno</label>
                  <input [(ngModel)]="administrativo._apellidoM" type="text" class="form-control tm" id="am"
                    (keypress)="valida($event)" placeholder="Apellido empezando con mayúscula"
                    style="font-size: small;text-transform: uppercase;" id="am">
                </div>
                <!--Fecha de nacimiento-->
                <div class="col-md-6">
                  <label for="fn" class="form-label ps-2 tm">Fecha de nacimiento</label>
                  <input [(ngModel)]="administrativo._fechaNac" type="date" class="form-control tm" id="fn"
                    (keypress)="valida($event)" placeholder="Fecha de nacimiento" id="fn">
                </div>
                <!-- correo electrónico -->
                <div class="col-md-6">
                  <label for="correo" class="form-label ps-2 tm">Correo electrónico</label>
                  <input [(ngModel)]="administrativo._correo" type="email" class="form-control tm"
                    (keyup)="valida($event)" (change)="valida($event)" placeholder="Correo electrónico" id="correo">
                  <p id="validaCorreo" class="tm"></p>
                </div>
                <!-- CURP -->
                <div class="col-md-4">
                  <label for="curp" class="form-label ps-2 tm">CURP</label>
                  <input [(ngModel)]="administrativo._curp" type="text" class="form-control tm" placeholder="CURP"
                    id="curp" (keypress)="valida($event)" style="font-size: small;text-transform: uppercase;" id="curp">
                </div>
                <!-- dirección -->
                <div class="col-md-8">
                  <label for="dir" class="form-label ps-2 tm">Dirección</label>
                  <input [(ngModel)]="administrativo._direccion" type="text area" class="form-control tm"
                    (keypress)="valida($event)" placeholder="Dirección" id="dir">
                </div>
                <!-- telefono -->
                <div class="col-md-3">
                  <label for="tel" class="form-label ps-2 tm">Teléfono</label>
                  <input [(ngModel)]="administrativo._telefono" type="text" class="form-control tm"
                    placeholder="Teléfono" (keypress)="valida($event)" id="tel">
                </div>
                <!-- facebook -->
                <div class="col-md-3">
                  <label for="fb" class="form-label ps-2 tm">Facebook</label>
                  <input [(ngModel)]="administrativo._facebook" type="text" class="form-control tm"
                    placeholder="Facebook" (keypress)="valida($event)" id="fb">
                </div>
                <!-- twitter -->
                <div class="col-md-3">
                  <label for="tw" class="form-label ps-2 tm">Twitter</label>
                  <input [(ngModel)]="administrativo._twitter" type="text" class="form-control tm" placeholder="Twitter"
                    id="tw">
                </div>
                <!-- instagram -->
                <div class="col-md-3">
                  <label for="ig" class="form-label ps-2 tm">Instagram</label>
                  <input [(ngModel)]="administrativo._instagram" type="text" class="form-control tm"
                    placeholder="Instagram" id="ig">
                </div>
                <!-- division -->
                <hr class="border border-danger border-1 opacity-50 mt-2">
                <!-- turno -->
                <div class="col-md-4">
                  <label for="turno" class="form-label ps-2 tm">Turno</label>
                  <select id="turno" [(ngModel)]="administrativo._turno" class="form-select tm">
                    <option value="Matutino">Matutino</option>
                    <option value="Vespertino">Vespertino</option>
                  </select>
                </div>
                <!-- nivel operativo -->
                <div class="col-md-3">
                  <label for="nivel" class="form-label ps-2 tm">Nivel Operativo</label>
                  <input id="nivel" [(ngModel)]="administrativo._nivelOperativo" class="form-control tm">
                </div>
                <!-- Departamento -->
                <div class="col-md-5">
                  <label for="departamento" class="form-label ps-2 tm">Departamento</label>
                  <input id="departamento" [(ngModel)]="administrativo._departamento" class="form-control tm">
                </div>
                <!-- pass -->
                <div class="col-md-6 pt-3">
                  <div class="input-group mb-3 px-3">
                    <span class="input-group-text tm">Contraseña</span>
                    <input type="text" [(ngModel)]="administrativo._pass" class="form-control tm" id="pass">
                  </div>
                </div>
                <div class="col-md-6 pt-3">
                  <div class="input-group mb-3 px-3">
                    <span class="input-group-text tm">Confirmar</span>
                    <input type="text" [(ngModel)]="administrativo._pass2" class="form-control tm" id="pass2">
                  </div>
                </div>
              </div>

              <!-- boton de registro -->
              <div class="d-flex justify-content-center mt-2 mb-2" *ngIf="tipoUsuario!=''">
                <button class="btn bg-secondary rounded btn-lg text-white" type="button"
                  (click)='Registro()'>{{registrarse}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>