<!--- Titulo --->
<div class="card border border-white mt-4">
    <div class="d-flex justify-content-center p-1 mb-2">
        <h4 class="m-2">SOLICITUD DE JUSTIFICANTE</h4>
    </div>
    <div class="row d-flex flex-wrap px-4">
        <!--- formulario --->

        <!--Lado izquierdo-->
        <div class="col-md-6 mt-2 pe-md-2">
            <div class="card border border-white px-3 mb-4">
                <!--- Section Razon --->
                <div class="card mt-4">
                    <div class="col-12 px-3 mb-4">
                        <div class="container p-0 d-flex justify-content-center">
                            <h5>Razón de la Falta</h5>
                        </div>
                        <div class="container">
                            <div class="row">
                                <textarea class="form-control" [(ngModel)]="justificante.motivo"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <!--- Section Documento (Foto) --->
                <div class="row d-flex justify-content-center">
                    <!--Parte 1-->
                    <div class="col-lg-4 col-md-6">
                        <div class="card">

                            <div class="container p-md-0 mb-2 ">
                                <div class="row text-center">
                                    <h5>Documento de Referencia</h5>
                                </div>
                                <div class="container py-2">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-8">
                                            <input #fileInput1 type="file" class="form-control form-control-sm"
                                                capture="camera" accept="image/*" (change)="foto64($event)"
                                                id="foto1" hidden>
                                            <a class="pe-auto" (click)="activarInput($event)" >
                                                <img [src]="justificante.documentoreferencia" alt="documento" class="card-img" id="fileinput1">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Parte 2-->
                    <div class="col-lg-4 col-md-6">
                        <div class="card">

                            <div class="container p-md-0 mb-2">
                                <div class="row text-center">
                                    <h5>Copia De Identificacion Del Tutor</h5>
                                </div>
                                <div class="container py-2">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-8">
                                            <input #fileInput2 type="file" class="form-control form-control-sm"
                                                capture="camera" accept="image/*" (change)="foto64($event)"
                                                id="foto2" hidden>
                                            <a class="pe-auto" (click)="activarInput($event)" >
                                                <img [src]="justificante.inetutor" alt="documento" class="card-img" id="fileinput2">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Parte 3-->
                    <div class="col-lg-4 col-md-8">
                        <div class="card">

                            <div class="container p-md-0 mb-2 ">
                                <div class="row text-center">
                                    <h5>Carta del Tutor</h5>
                                </div>
                                <div class="container py-2">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-8">
                                            <input #fileInput3 type="file" class="form-control form-control-sm"
                                                capture="camera" accept="image/*" (change)="foto64($event)"
                                                id="foto3" hidden>
                                            <a class="pe-auto" (click)="activarInput($event)" >
                                                <img [src]="justificante.cartatutor" alt="documento" class="card-img" id="fileinput3">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




        <!--Lado Derecho-->
        <div class="col-md-6 ps-md-2 mt-2">
            <div class="card border border-white p-2 mb-4">
                <div class="accordion mb-2" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseOne">
                                Tipo de Justificante
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="accordion-item">
                                    <!--- Fechas Justificar --->
                                    <div class="col-12 px-3 mt-4">
                                        <div class="container p-0">
                                            <div class="row">
                                                <div class="col-lg-6 mb-2">
                                                    <h5>Justificante por:</h5>
                                                </div>
                                                <div class="col-lg-6 mb-2">
                                                    <select class="form-select" (change)="cambiarSelecionDia($event)">
                                                        <option value="dias">Día(s)</option>
                                                        <option value="horas">Hora(s)</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container mb-2">
                                            <div class="row d-flex" *ngIf="diasHoras">
                                                <div class="col-6 p-0 d-flex">
                                                    <p class="mx-2">De:</p>
                                                    <input type="date" class="fs-6 form-control" placeholder=""
                                                        [(ngModel)]="justificante.horas1">
                                                </div>
                                                <div class="col-6 p-0 d-flex">
                                                    <p class="mx-2">a</p>
                                                    <input type="date" class="fs-6 form-control" placeholder=""
                                                        [(ngModel)]="justificante.horas2">
                                                </div>
                                            </div>
                                            <div class="row d-flex" *ngIf="!diasHoras">
                                                <div class="d-flex justify-content-center">
                                                    <h6 class="mb-0">Intervalo</h6>
                                                </div>
                                                <div class="row m-0">
                                                    <!--Lado izquierdo-->
                                                    <div class="col-5 px-3 mb-4">
                                                        <div class="card d-flex justify-content-center mt-4">
                                                            <input type="number" [(ngModel)]="justificante.horas1"
                                                                class="form-control text-center">
                                                        </div>
                                                    </div>
                                                    <div class="col-2 d-flex justify-content-center">
                                                        <div class="align-self-center">
                                                            <h3>A</h3>
                                                        </div>
                                                    </div>
                                                    <!--Lado Derecho-->
                                                    <div class="col-5 px-3 mb-4">
                                                        <div class="card mt-4">
                                                            <input type="number" [(ngModel)]="justificante.horas2"
                                                                class="form-control text-center">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--- Botones --->
                <div class="container mb-2">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-6 d-flex">
                            <div class="col text-center">
                                <button class="enter-2 m-0 px-3">Cancelar</button>
                            </div>
                            <div class="col text-center">
                                <button class="enter-2 m-0 px-3" (click)="enviarJust()">Solicitar</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>