<!--- Titulo --->
<div class="card border border-white mt-4">
    <div class="d-flex justify-content-center p-1 mb-2">
        <h4 class="m-2">SOLICITUD DE RECURSAMIENTO</h4>
    </div>
    <div class="row d-flex flex-wrap px-4">
        <!--Lado izquierdo-->
        <div class="col-md-12 mt-2">
            <div class="col-6 d-flex ">
                <button type="button" class="btn btn-info">Cargar Materias</button>
            </div>
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr class="justify-content-center">
                        <th>Semestre</th>
                        <th>Maestro</th>
                        <th>Materia</th>
                        <th>Estado</th>
                        <th>Proceso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" >Solicitar</button>
                            <i class=""></i>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--modal-->