<!--- Titulo --->
<div class="card border border-white mt-4">
    <div class="d-flex justify-content-center p-1 mb-2">
        <h4 class="m-2">SOLICITUD DE RECURSAMIENTO</h4>  
    </div>
    <div class="row d-flex flex-wrap px-4">
        <!--Lado izquierdo-->
        <div class="col-md-12 mt-2">
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr class="justify-content-center">
                        <th>Periodo</th>
                        <th>Semestre</th>
                        <th>Materia</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dato of listaRecursa">
                        <td>{{dato.periodoescolar}}</td>
                        <td>{{dato.grado}}{{dato.grupo}}</td>
                        <td>{{dato.descripcion}}</td>
                        <td>
                            <!-- boton para soliciar  -->
                            <button type="button" class="btn btn-outline-dark" (click)="solicitarRecrusa(dato)" *ngIf="dato.estado == 1">Solicitar</button>
                            <!-- Boton en proceso de atuorizacion -->
                            <button type="button" class="btn btn-info" *ngIf="dato.estado == 2" disabled>En proceso de autorización</button>
                            <!--  boton cargar comprobantes -->
                            <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#versolicitud" *ngIf="dato.estado == 3" (click)="datoPago = dato;" >Informacion de pago</button>
                            <!-- pediente de confirmacion de pago -->
                            <button type="button" class="btn btn-info" *ngIf="dato.estado == 4" disabled>En revisión de pagos</button>
                            <!-- Autorizado a examen -->
                            <button type="button" class="btn btn-info" *ngIf="dato.estado == 5"  disabled>Autorizado a examen</button>
                            <!-- Aprobado -->
                            <button type="button" class="btn btn-success" *ngIf="dato.estado == 6"  disabled>Aprobado</button>
                            <!-- Recursa -->
                            <button type="button" class="btn btn-danger" *ngIf="dato.estado == 7"  disabled>En Recursamiento</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--modal de pago de recursamiento-->
<div class="modal fade" id="versolicitud" tabindex="-1" aria-labelledby="versolicitudLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-12 mt-2">
                    <div class="card">
                        <!--Titulo-->
                        <div class="row">
                            <div class="d-flex justify-content-center p-1 mb-2">
                                <h4 class="m-2">Cargar comprobantes</h4>
                            </div>
                        </div>
                        <!--Cargar comprobantes-->
                        <div class="row d-flex flex-wrap px-4">
                            <div class="container p-md-0 mb-2 ">
                                <div class="row d-flex justify-content-center">
                                    <!--Parte 1-->
                                    <div class="col-lg-4 col-md-6">
                                        <div class="card">

                                            <div class="container p-md-0 mb-2 ">
                                                <div class="row text-center">
                                                    <h5>PAGO A CEAP</h5>
                                                </div>
                                                <div class="container py-2">
                                                    <div class="row d-flex justify-content-center">
                                                        <div class="col-8">
                                                            <input #fileInput1 type="file" 
                                                                class="form-control form-control-sm" capture="camera"
                                                                accept="image/*" id="foto1" (change)="foto64($event)" hidden>
                                                            <img [src]="datoPago.ceap">
                                                            <a class="pe-auto"(click)="activarInput($event)">
                                                                <button id="img1" type="button" class="btn btn-warning">
                                                                    CARGAR COMPROBANTE
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Parte 2-->
                                    <div class="col-lg-4 col-md-6">
                                        <div class="card">

                                            <div class="container p-md-0 mb-2">
                                                <div class="row text-center">
                                                    <h5>PAGO E5CINCO</h5>
                                                </div>
                                                <div class="container py-2">
                                                    <div class="row d-flex justify-content-center">
                                                        <div class="col-8">
                                                            <input #fileInput2 type="file"
                                                                class="form-control form-control-sm" capture="camera"
                                                                accept="" id="foto2" (change)="foto64($event)" hidden>
                                                            <img [src]="datoPago.frm5">
                                                            <a class="pe-auto" (click)="activarInput($event)">
                                                                <button id="img2" type="button" class="btn btn-warning">
                                                                    CARGAR COMPROBANTE
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                       
                    </div>
                    <!--Parte Baja-->
                    <div class="card">
                                <table class="table table-responsive table-bordered justify-content-center">
                                    <thead>
                                        <tr class="justify-content-center">
                                            <th>No. Cuenta Banorte</th>
                                            <th>Beneficiario</th>
                                            <th>Pago de Derechos e5cinco</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="justify-content-center">
                                            <td>1187817418</td>
                                            <td>CEAP del CBTIS 66</td>
                                            <td>
                                                <a href="https://www.sep.gob.mx/work/appsite/e5_ene12/dpa/hojaayuda.html?institucion=dgeti"><Button type="button" class="btn btn-info">Informacion de Pago e5cinco</Button></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                    </div>
                    <!--botones-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="enviarPago()">Enviar Pago</button>
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
